@import "abstracts/variables";
@import "vendors/bootstrap";
@import "base/typography";

@import "layout/header";
@import "layout/footer";
@import "layout/forms";
@import "layout/devise_errors";

@import "modules/buttons";

@import "pages/home";
@import "pages/login";
@import "pages/edit";
@import "pages/user";

@import "themes/theme";
@import "themes/admin";

body {
  font-family: "Titillium Web", sans-serif;
}

div[data-behavior="vue"] {
  padding-bottom: 60px;
}
.alert {
  color: rgb(233, 76, 48);
}

.notice {
  color: rgb(48, 233, 116);
}

.primary-color {
  color: #383f45;
}
.secondary-color {
  color: #f39600;
}

.footer {
  z-index: 3;
  a {
    z-index: 4;
    color: #f39600;
    margin: 0 5px;
    &:hover {
      color: inherit;
    }
  }
}

i {
  margin-right: 10px;
  &.short {
    margin-right: 5px;
  }
}
