@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700&display=swap");

/* 

selector{
	font-family: 'Encode Sans Condensed', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Lato', sans-serif;
}

*/
