@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Lato|Roboto');

/* 

selector{
	font-family: 'Encode Sans Condensed', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Lato', sans-serif;
}

*/
