#modal {
  background: rgba(15,15, 10, .5);
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  #modal-content {
    display: flex;
    flex-direction: column;
    background: map-get($colors, 'white');
    padding: 30px 50px;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 45%;
    label {
      font-size: 16pt;
    }
    div {
      margin: 5px 0 5px 0;
    }
    #modal-description {
      label {
        font-size: 30px;
      }
    }
    #modal-period {
      display: flex;
      flex-wrap: wrap;
      div {
        text-align: center;
        margin: 0 8px 0 8px;
      }
    }
    #modal-targets {
      display: flex;
      flex-direction: column;
      input {
        display: inline-block;
        width: 300px;
      }
      #targets {
        span {
          padding: 5px;
          background: map-get($colors, 'black');
          color: white;
        }
        button {
          margin-left: 10px;
        }
      }
    }
    #modal-comments {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    #modal-summary {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  #modal {
    background: transparent;
    #modal-content {
      border-radius: 0;
      width: 100%;
      margin: 0;
    }
    #modal-period {
      display: flex;
      flex-wrap: wrap;
      div {
        text-align: center;
        margin: 0 8px 0 8px;
      }
    }
  }
}
