.event-visible-item {
  font-size: 16px;
  cursor: pointer;
}
.event-status {
  display: inline-block;
  border-radius: 5px;
  padding-left: 10px;
  background: #0a568c;
  margin-top: 10px;
}
.scheduled {
  width: 80px;
  background: orange;
}
.done {
  width: 80px;
  background: green;
}
.display-block {
  display: block;
}
.display-none {
  display: none;
}
