.users_component
  %user-info-component{ "user-for-props": @user.data.to_json, "events-route": events_path, "tagrets-route": targets_path }
  %user-events-component{ "events-for-props": @events.to_json }
