.users_component
  = react_component('UserHeader', user: @user.data, project: @user.project, project_path: project_path(@user.project.id))
  = react_component('UserEvents', events: @events.map(&:data), noImage: image_path('no-events'), canEditEvent: policy(@events).update?)
