.users_component
  %user-info-component{ "user-for-props": @user.data.to_json, "events-path": events_path,
   "events-for-props": @events.map(&:data).to_json, "statuses": @statuses.to_json,
   "can-edit-event": policy(@events).update?, "events-statistic": @events_statistic.to_json }
