.users_component
  = react_component('UserHeader', user: @user, project: @user.project, image_path: image_path('admin'), project_path: project_path(@user.project.id))
  = react_component('UserEvents', events: @user.events)
