.users_component
  = react_component('UserHeader', user: @user.data, project: @user.project, image_path: image_path('admin'), project_path: project_path(@user.project.id), generateICSURL: user_ics_export_url(current_user, signature: current_user.signature_hash))
  = react_component('UserEvents', events: @user.events)
