.user-info{ "data-props": { userForProps: @user.data, "EventsPath": events_path, "eventsForProps": @events.map(&:data).to_json, "statuses": @statuses.to_json, "canEditEvent": policy(@events).update? }.to_json}
