.btn {
  border: 0;
  font-size: 15px;
  padding: 10px 20px;
  font-weight: 600;
}
.btn-primary {
  color: #007bff;
  background-color: #007bff1f;

  &:hover {
    color: #fff;
    background-color: #007bff;
  }
}
.btn-success {
  color: #1d8034;
  background-color: #28a7452b;

  &:hover {
    color: #fff;
    background-color: #28a745;
  }
}
