input[type=submit] {
  background-color: rgba(255, 107, 49, 0.75);
  color: #fff;
  padding: 7px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn {
  margin: 20px 5px 20px 0px;
}
.gray-button {
  background-color: map-get($colors, 'background');
  margin: 15px 0 15px 0;
  color: map-get($colors, 'black');
  border-radius: 2px;
  border: 1px solid map-get($colors, 'black');
  cursor: pointer;
}
