You have upcoming event!
================================
  #{@author.first_name + ' ' + @author.last_name} create event - #{@event.description},
    which finished at #{@event.finish_date}
    To open your profile, just follow this link: #{@url}
