#error_explanation {
  background: rgba(255, 107, 49, 0.75);
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  h5 {
    background: rgb(122, 64, 40);
    color: #fff;
    padding: 2px 5px 2px 5px;
  }
  ul {
    list-style: square;
    li {
      color: #fff;
    }
  }
}
